[user]
	name = Jacob Pomeranz
	email = jrpomeranz@yahoo.com 
[rerere]
	enabled = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[alias]
	br = branch
	ca = commit --amend
	ci = commit
	co = checkout
	di = diff
	ds = diff --staged
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && GIT_EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
	fp = fetch --prune
	gg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	last = log -1 HEAD
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	s = stash
	sa = stash apply
	sp = stash pop
	ss = stash show -p
	st = status
	u = reset HEAD --
	undo = reset --soft HEAD^
[color]
	ui = auto
[status]
	showUntrackedFiles = all
